/* Reset default browser styles */
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-color: #f8f8f8;
  color: #666;
  font-family: Arial, sans-serif;
  display: grid;
  grid-template-areas:
    ". . head . ."
    ". nav main aside ."
    ". . foot . .";

  grid-template-columns: 1fr 150px 600px 150px 1fr;
  grid-template-rows: min-content auto min-content;

  padding-top: min(5vh, 32px);
}

@media (max-width: 900px) {
  body {
    display: grid;
    grid-template-areas:
      ". head ."
      ". nav ."
      ". aside ."
      ". main ."
      ". foot .";

    grid-template-columns: 1fr 600px 1fr;
    grid-template-rows: min-content min-content min-content auto min-content;
  }
}

@media (max-width: 600px) {
  body {
    display: grid;
    grid-template-areas:
      "head"
      "nav"
      "aside"
      "main"
      "foot";
    grid-template-columns: 100%;
    grid-template-rows: min-content min-content min-content auto min-content;
    margin-inline: 16px;
  }
}

body>header {
  grid-area: head;
}

body>nav {
  grid-area: nav;
}

body>main {
  grid-area: main;
}

body>footer {
  grid-area: foot;
}

body>aside {
  grid-area: aside;
}

img {
  max-width: min(100%, 600px);
}

/* Style the heading */
h1 {
  font-size: 30px;
  font-weight: bold;
  color: #333;
  text-align: left;
  margin-bottom: 20px;
}

h1,
h2 {
  text-transform: uppercase;
}

/* Style the text */
p {
  font-size: 16px;
  line-height: 1.3;
  text-align: left;
  margin-bottom: 8px;
}